<form [formGroup]='registerForm' (ngSubmit)="registerForm.valid && register()" autocomplete="off">
  <h2 class="text-center text-primary">Sign Up</h2>
  <hr>

  <div class="form-group" style="margin-bottom: 15px;">
    <label class="control-label" style="margin-right: 10px"> I am a: </label>
    <label class="radio-inline">
      <input type="radio" value = "male" formControlName="gender" style="margin-left: 15px;">Male
    </label>
    <label class="radio-inline">
      <input type="radio" value = "female" formControlName="gender" style="margin-left: 15px;">Female
    </label>
  </div>
  <!-- Username -->
  <div class="form-group" style="margin-bottom: 15px;">
    <input
      [class.is-invalid] = 'registerForm.get("username").errors
        &&  registerForm.get("username").touched'
      type="text"
      class="form-control"
      formControlName="username"
      placeholder="Username">
      <div class="invalid-feedback">Please enter a username</div>
  </div>

  <!-- KnownAs -->
  <div class="form-group" style="margin-bottom: 15px;">
    <input
      [class.is-invalid] = 'registerForm.get("knownAs").errors
        &&  registerForm.get("knownAs").touched'
      type="text"
      class="form-control"
      formControlName="knownAs"
      placeholder="knownAs">
      <div class="invalid-feedback">Please enter a known as</div>
  </div>


  <!-- Date Of Birth -->
  <div class="form-group" style="margin-bottom: 15px;">
    <input
      [class.is-invalid] = 'registerForm.get("dateOfBirth").invalid
        &&  registerForm.get("dateOfBirth").touched'
      type="text"
      class="form-control"
      bsDatepicker
      [bsConfig]="{ isAnimated: true }"
      [maxDate] = 'maxDate'
      formControlName="dateOfBirth"
      placeholder="Date of Birth">
      <div *ngIf="registerForm.get('dateOfBirth').hasError('required')" class="invalid-feedback">Please enter a Date</div>
  </div>

  <!-- city -->
  <div class="form-group" style="margin-bottom: 15px;">
    <input
      [class.is-invalid] = 'registerForm.get("city").errors
        &&  registerForm.get("city").touched'
      type="text"
      class="form-control"
      formControlName="city"
      placeholder="city">
      <div class="invalid-feedback">Please enter a city</div>
  </div>

  <!-- country -->
  <div class="form-group" style="margin-bottom: 15px;">
    <input
      [class.is-invalid] = 'registerForm.get("country").errors
        &&  registerForm.get("country").touched'
      type="text"
      class="form-control"
      formControlName="country"
      placeholder="country">
      <div class="invalid-feedback">Please enter a country</div>
  </div>
  <!-- Password -->
  <div class="form-group" style="margin-bottom: 15px;">
    <input
      [class.is-invalid] = 'registerForm.get("password").errors
      &&  registerForm.get("password").touched'
      type="password"
      class="form-control"
      formControlName="password"
      placeholder="Password">
      <div *ngIf="registerForm.get('password').hasError('required')" class="invalid-feedback">Please enter a password</div>
      <div *ngIf="registerForm.get('password').hasError('minlength')" class="invalid-feedback">Password must be at least 4 characters</div>
      <div *ngIf="registerForm.get('password').hasError('maxlength')" class="invalid-feedback">Password must be at most 10 characters </div>
  </div>

  <!-- Confirm Password -->
  <div class="form-group" style="margin-bottom: 15px;">
    <input
      [class.is-invalid] = 'registerForm.get("confirmPassword").errors
      &&  registerForm.get("confirmPassword").touched'
      type="password"
      class="form-control"
      formControlName="confirmPassword"
      placeholder="Confirm Password">
      <div *ngIf="registerForm.get('confirmPassword').hasError('required')" class="invalid-feedback">Please enter a password</div>
      <div *ngIf="registerForm.get('password').hasError('isMatching')" class="invalid-feedback">Confirm password must match password</div>
  </div>

  <div class="row" *ngIf = "validationErrors.length > 0">
    <ul class="text-danger">
      <li *ngFor="let error of validationErrors">
        {{ error }}
      </li>
    </ul>
  </div>

  <div class="form-group text-center">
    <button [disabled]='!registerForm.valid' class="btn btn-success mr-2 mt-2" style="margin-right: 10px;" type="submit">Register</button>
    <button class="btn btn-default mr-2 mt-2" style="margin-right: 10px;" (click)="cancel()" type="button">Cancel</button>
  </div>
</form>
